/* layout.css
 *
 * CSC309 - Tutorial 3
 * University of Toronto
 */

/* Reset layout-related browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define base typography for the page */
html {
    font-family: Arial;
    font-size: 20px;
}

/* -------------------------------------------------- */
/* Part 1A: Grid Layout                               */
/* -------------------------------------------------- */
body {

}

/* -------------------------------------------------- */
/* Part 1B: Header (you will need additional rules)   */
/* -------------------------------------------------- */
header {

}

/* Add additional rules for header contents below */


/* -------------------------------------------------- */
/* Part 1C: Sidebar                                   */
/* -------------------------------------------------- */
.sidebar {

}

/* -------------------------------------------------- */
/* Part 1D: Main Content                              */
/* -------------------------------------------------- */
main {

}

/* -------------------------------------------------- */
/* Part 1E: Footer                                    */
/* -------------------------------------------------- */
footer {

}

/* -------------------------------------------------- */
/* Part 1F: Responsive Design                         */
/* -------------------------------------------------- */
@media (max-width: 590px) {

}
